@import "tailwindcss";

@theme inline {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-slide-in-to-right: slide-in-from-right 0.4s ease-in-out;
  --animate-slide-out-to-right: slide-out-to-right 0.4s ease-in-out;
  --animate-in: fade-in 0.4s ease-in-out;
  --animate-out: fade-out 0.4s ease-in-out;
  --animate-slide-up: slideUp 0.3s ease-in;
  --animate-slide-down: slideDown 0.3s ease-out;
  --animate-slide-left: slideLeft 0.115s ease-out 75ms;
  --animate-slide-right: slideRight 0.115s ease-in;

  /* Dynamic theming */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-error: var(--error);
  /* Used in accessable color schemes to differentiate elements without
  affecting non-primarily accessable. Use around elements with the same name */
  --color-foreground-border: var(--foreground-border);
  --color-primary-border: var(--primary-border);
  --color-error-border: var(--error-border);
  --color-secondary-border: var(--secondary-border);

  /* Dynamic Text Sizes */
  --text-xs: var(--txt-xs);
  --text-sm: var(--txt-sm);
  --text-base: var(--txt-base);
  --text-lg: var(--txt-lg);
  --text-xl: var(--txt-xl);
  --text-2xl: var(--txt-2xl);
  --text-3xl: var(--txt-3xl);
  --text-4xl: var(--txt-4xl);
  --text-5xl: var(--txt-5xl);
  --text-6xl: var(--txt-6xl);
  --text-7xl: var(--txt-7xl);
  --text-8xl: var(--txt-8xl);
  --text-9xl: var(--txt-9xl);

  @keyframes slide-out-to-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes slideRight {
    from {
      max-width: 0px;
      max-height: 0px;
    }
    to {
      max-width: var(--radix-accordion-content-width);
      max-height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideLeft {
    from {
      max-width: var(--radix-accordion-content-width);
      max-height: var(--radix-accordion-content-height);
    }
    to {
      max-width: 0px;
      max-height: 0px;
    }
  }

  @keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1)
        )
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(
          var(--tw-exit-translate-x, 0),
          var(--tw-exit-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1)
        )
        rotate(var(--tw-exit-rotate, 0));
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-in-from-top {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out-to-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes slide-in-from-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out-to-bottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
}

.markdown>*ul {
  list-style-type: disc !important; 
  list-style-position: inside !important; 
}

.markdown>*ol {
  list-style-type: decimal !important; 
  list-style-position: inside !important; 
}

.markdown>*ul ul, ol ul {
  list-style-type: circle !important; 
   list-style-position: inside !important; 
   margin-left: 15px !important; 
}

.markdown>*ol ol, ul ol {
  list-style-type: lower-latin !important; 
   list-style-position: inside !important; 
   margin-left: 15px !important; 
}

html,
body {
  overflow-x: hidden;
  margin-right: 0px !important;
  @apply bg-background;
  color: black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.lucide {
  color: var(--secondary-foreground);
}

button {
  cursor: pointer;
}



@layer base {
  :root {
    --background: var(--color-gray-100);
    --foreground: var(--color-white);
    --foreground-border: var(--color-white);

    --primary: var(--color-cyan-500);
    --primary-foreground: var(--color-white);
    --primary-border: var(--primary);

    --secondary: var(--color-white);
    --secondary-foreground: var(--color-black);
    --secondary-border: var(--color-white);

    --accent: var(--color-amber-500);

    --muted: var(--color-gray-200);
    --muted-foreground: var(--color-gray-400);

    --error: var(--color-red-600);
    --error-border: var(--color-red-600);
  }
  .dark {
    --background: var(--color-gray-800);
    --foreground: var(--color-gray-700);
    --foreground-border: var(--color-gray-700);

    --primary: var(--color-cyan-700);
    --primary-foreground: var(--color-white);
    --primary-border: var(--primary);

    --secondary: var(--color-gray-700);
    --secondary-foreground: var(--color-gray-200);
    --secondary-border: var(--color-gray-700);

    --accent: var(--color-amber-500);

    --muted: var(--color-gray-900);
    --muted-foreground: var(--color-gray-400);

    --error: var(--color-red-700);
    --error-border: var(--color-red-700);
  }

  .high-contrast {
    --background: var(--color-black);
    --foreground: var(--color-black);
    --foreground-border: var(--color-white);

    --primary: var(--color-black);
    --primary-foreground: var(--color-yellow-300);
    --primary-border: var(--color-yellow-300);

    --secondary: var(--color-black);
    --secondary-foreground: var(--color-white);
    --secondary-border: var(--color-white);

    --accent: var(--color-amber-500);

    --muted: var(--color-black);
    --muted-foreground: var(--color-yellow-300);

    --error: var(--color-black);
    --error-border: var(--color-fuchsia-500);
  }

  .txt-sm {
    --txt-xs: 0.625rem;
    --txt-sm: 0.75rem;
    --txt-base: 0.875rem;
    --txt-lg: 1rem;
    --txt-xl: 1.125rem;
    --txt-2xl: 1.25rem;
    --txt-3xl: 1.5rem;
    --txt-4xl: 1.875rem;
    --txt-5xl: 2.25rem;
    --txt-6xl: 3rem;
    --txt-7xl: 3.75rem;
    --txt-8xl: 4.5rem;
    --txt-9xl: 6rem;
  }

  .txt-base {
    --txt-xs: 0.75rem;
    --txt-sm: 0.875rem;
    --txt-base: 1rem;
    --txt-lg: 1.125rem;
    --txt-xl: 1.25rem;
    --txt-2xl: 1.5rem;
    --txt-3xl: 1.875rem;
    --txt-4xl: 2.25rem;
    --txt-5xl: 3rem;
    --txt-6xl: 3.75rem;
    --txt-7xl: 4.5rem;
    --txt-8xl: 6rem;
    --txt-9xl: 8rem;
  }

  .txt-lg {
    --txt-xs: 0.875rem;
    --txt-sm: 1rem;
    --txt-base: 1.125rem;
    --txt-lg: 1.25rem;
    --txt-xl: 1.5rem;
    --txt-2xl: 1.875rem;
    --txt-3xl: 2.25rem;
    --txt-4xl: 3rem;
    --txt-5xl: 3.75rem;
    --txt-6xl: 4.5rem;
    --txt-7xl: 6rem;
    --txt-8xl: 8rem;
    --txt-9xl: 10rem;
  }

  .txt-xl {
    --txt-xs: 1rem;
    --txt-sm: 1.125rem;
    --txt-base: 1.25rem;
    --txt-lg: 1.5rem;
    --txt-xl: 1.875rem;
    --txt-2xl: 2.25rem;
    --txt-3xl: 3rem;
    --txt-4xl: 3.75rem;
    --txt-5xl: 4.5rem;
    --txt-6xl: 6rem;
    --txt-7xl: 8rem;
    --txt-8xl: 10rem;
    --txt-9xl: 12rem;
  }
}

.markdown ul, ol { 
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
}
.markdown ol { 
  list-style-type: decimal;
}

.markdown ul ul, ol ul {
  list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}

.markdown ol ol, ul ol {
  list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

.markdown li {
  display: list-item;
}

.markdown h1 {
  font-size: var(--text-2xl);
  font-weight: bold;
}
.markdown h2 {
  font-size: var(--text-xl);
  font-weight: bold;
}
.markdown h3 {
  font-size: var(--text-lg);
  font-weight: bold;
}
.markdown h4 {
  font-size: var(--text-base);
  font-weight: bold;
}
.markdown h5 {
  font-size: var(--text-sm);
  font-weight: bold;
}

.animate-in {
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.animate-out {
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tw-exit-opacity: initial;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: initial;

  
}
